<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table>
<th>Name</th><th>Number of receipts</th>
{% for data in category %}
<tr>
<td>{{data.name}}</td><td>{{data.receipts.count}}</td>

</tr>
{% endfor %}
</table>
</body>
</html>
