<!DOCTYPE html>
<html lang="en">
<head>
<title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
        <li><a href="{% url 'create_account' %}">Create Account</a></li>
        <li><a href="{% url 'create_category' %}">Create Category</a></li>
       {% else %}
       <li><a href="{% url 'signup' %}">Sign up</a></li>
       <li><a href="{% url 'login' %}">Login</a></li>
       {% endif %}
            </ul>
    </nav>
    </header>
    <main>
<h1>My Receipts</h1>
<table>
<th>Vendor</th><th>Total</th><th>Tax</th><th>Date</th><th>Category</th><th>Account</th>
{% for item in receipt %}
<tr><td>{{item.vendor}}</td><td>{{item.total}}</td><td>{{item.tax}}</td><td>{{item.date| date:"m/d/y"}}</td><td>{{item.category.name}}</td><td>{{item.account.name}}</td></tr>

{% endfor %}
</table>
    </main>
</body>
</html>
